<h1>Blog News</h1>
<nav class="nav justify-content-center">
    <a class="nav-link " href="/blogs">Home</a>
    <a class="nav-link" href="/blogs">blogs</a>
    <a class="nav-link " href="/about">about</a>
</nav>