<section class=" bg-secondary py-3">
    <h1 class="p-2 page_title">Blog News</h1>
    <nav class="nav justify-content-center">
        <a class="nav-link text-uppercase " href="/blogs">Home</a>
        <a class="nav-link text-uppercase" href="/blogs">blogs</a>
        <a class="nav-link text-uppercase " href="/about">about</a>
    </nav>
</section>