<%- include('./partials/head')%>

    <%- include('./partials/nav')%>
        <main>
            <div class="container">
                <div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum recusandae iure totam incidunt
                        et doloremque nulla cum, assumenda dolore ullam, voluptatum laudantium error quod officia iste
                        praesentium cupiditate! Sunt architecto, iste cupiditate culpa consequuntur natus vel beatae ad
                        rem odio sequi? Aperiam rerum odio culpa quis aliquid itaque molestiae dolores quisquam dolore
                        totam, voluptates ipsum quod delectus dolor perferendis saepe! Dolor ut quibusdam aliquam
                        exercitationem quo, minima molestias. Qui doloribus, quae quisquam accusantium nihil quas fuga,
                        assumenda ipsum sapiente minima repellendus? Officia at est adipisci praesentium, consectetur
                        consequuntur fugit delectus corporis distinctio a sunt, amet eveniet labore sint soluta ipsam?
                    </p>
                </div>
            </div>
        </main>

        <%- include('./partials/footer')%>