* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border: 1px solid transparent;
}

a:hover {
    text-decoration: none;
    color: black;
}


/* nav */

a.nav-link:hover {
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.page_title {
    text-decoration: underline;
}



/* index */

.new_blog {
    background-color: bisque;
}

.new_blog>a {
    color: blue;
}

.card.blog {
    height: 200px;
    padding: 1rem;
    background-color: whitesmoke;
}

.single.col:hover>.card {
    box-shadow: 10px 10px black;
}

/* single-blog */

.single_blog {
    position: relative;
}

#delete {
    position: absolute;
    top: 0;
    right: 0;
}

#delete:hover {
    color: red;
}

#update {
    position: absolute;
    top: 0;
    right: 1.5rem;
}

#update:hover {
    color: red;
}